body{
    font-family: Helvetica, sans-serif;
}


.BackGround{
    background: rgb(232, 237, 240) url(hello-world-assets/federica-galli-aiqKc07b5PA-unsplash.jpg) no-repeat 0 0;
    background-size: 100%;
    position:absolute;
    top: -20%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    filter:blur(5px);
}

.title{
    position: absolute;
    top: 117px;
    left: 484px;
    display: flex;
}

.title img{
    size: 100%;
}

.title .titleContent{
    position: absolute;
    font-size: 75px;
    left: 120px;
    color:#424242;
}

.blockL{
    background-color: #e9eaec;
    position: absolute;
    top: 150px;
    left: 20px;
    width: 500px;
    height: 600px;
    border-radius: 20px;
}

.blockR{
    background-color: #e9eaec;
    position: absolute;
    top: 150px;
    left: 550px;
    width: 500px;
    height: 600px;
    border-radius: 20px;
}

.ArticleTitle{
    position: absolute;
    top: 30px;
    left: 60px;
    font-size: 36px;
    font-weight: bolder;
}

.Article{
    position: absolute;
    top: 100px;
    left: 60px;
    width: 380px;
    font-size: 20px;
}

.CodeBox{
    position: absolute;
    top: 170px;
    background-color: #424242;
    height: 430px;
    width: 100%;
    border-radius: 20px;
}